<% provide(:title, 'Position list') %>
<h1>Position list</h1>
<table class="table table-striped">

  <thead>
    <tr>
      <th>Position ID</th>
      <th>Position Name</th>
      <th>Position Description</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @positions.each do |position| %>
    <tr>
      <td><%= position.id %></td>
      <td><%= link_to position.name, position %></td>
      <td><%= position.abbreviation %></td>
    </tr>
    <% end %>
  </tbody>
  <tfoot>
  </tfoot>
</table>
<%= will_paginate %>
